
@import url('https://fonts.googleapis.com/css2?family=Inter&family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Donegal+One&family=Inter&family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Donegal+One&family=Inter&family=Istok+Web&family=League+Spartan:wght@700&display=swap');

body {
  background: #fff;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 1.6em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; 
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  letter-spacing: -.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5, h6 {
  color: #555;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: .05em;
  font-weight: 600;
  margin-bottom: 1rem; }

h6 {
  color: #888;
  font-size: 0.8em; }

p.text-large {
  font-size: 1.5em; }

p.text-small {
  font-size: 0.75em; }

.text-uppercase {
  text-transform: uppercase; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

a {
  color: #35cebe; }

a:focus, a:hover {
  color: #25beae; }

.text-muted {
  color: #888; }

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3.0rem 0; }

.circle {
  border-radius: 499rem; }

td, th {
  border-bottom: 0.1rem solid #eee; }

/*For demo purposes only*/
a.anchor {
  display: block;
  position: relative;
  top: -140px;
  visibility: hidden; }
  
.grid-example {
  margin-left: 1rem;
  margin-right: 1rem; }
  .grid-example .column {
    background: #ddd;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px; }

.credit {
  text-align: center;
  margin-top: 30px;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase; 
}



/*Margins*/
.m-0 {
  margin: 0; }

.mt-1 {
  margin-top: 1rem; }

.mr-1 {
  margin-right: 1rem; }

.mb-1 {
  margin-bottom: 1rem; }

.ml-1 {
  margin-left: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mr-2 {
  margin-right: 2rem; }

.mb-2 {
  margin-bottom: 2rem; }

.ml-2 {
  margin-left: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-5 {
  margin-top: 8rem; }  

.mt-6 {
  margin-top: 15rem; }  

.mr-3 {
  margin-right: 3rem; }

  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-container1 {
    width: 100%;
    height: 1011px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .home-container2 {
    flex: 1;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text {
    font-size: 46px;
    align-self: center;
    font-style: normal;
    margin-top: 150px;
    font-weight: 700;
  }
  .home-text01 {
    color: var(--dl-color-gray-black);
    font-size: 51px;
  }
  .home-text02 {
    color: var(--dl-color-gray-black);
    font-size: 51px;
  }
  .home-text03 {
    color: #301b09;
  }
  .home-container3 {
    width: 472px;
    height: 614px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-form {
    width: 100%;
    height: 634px;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .home-input {
    top: 143px;
    left: 100px;
    height: 43px;
    margin: auto;
    position: absolute;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-textinput {
    top: 287px;
    left: 100px;
    height: 43px;
    margin: auto;
    position: absolute;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-button {
    top: 444px;
    left: 171px;
    color: var(--dl-color-gray-white);
    width: 23%;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-style: solid;
    border-radius: 14px;
    background-color: rgb(48, 27, 9);
  }
  .home-text04 {
    top: 119px;
    left: 104px;
    position: absolute;
    font-style: normal;
    font-weight: 700;
  }
  .home-text05 {
    top: 263px;
    left: 105px;
    position: absolute;
    font-style: normal;
    font-weight: 700;
  }
  .home-container4 {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-image {
    left: -3px;
    width: 602px;
    bottom: 1px;
    height: 939px;
    position: absolute;
    align-self: stretch;
    object-fit: cover;
  }
  .home-link {
    top: 27px;
    left: 207px;
    position: absolute;
  }
  .home-link1 {
    top: 27px;
    left: 386px;
    position: absolute;
  }

  
.containert {
  width: 100%;
}
.mb-4 {
  margin-bottom: 4.4rem; }

.mt-4 {
  margin-top: 5.9rem; }
  
.mb-3 {
  margin-bottom: 3rem; }

.ml-3 {
  margin-left: 3rem; }



/*Forms Elements & Buttons*/
input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
  border: 1px solid #f9f9f9 !important; }

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
  border: 1px solid #35cebe !important; }

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color: #35cebe;
  border: 0.1rem solid #35cebe;
  border-radius: 499rem;
  font-size: 1.15rem; }

.button:focus, .button:hover, button:focus, button:hover, input[type='button']:focus, input[type='button']:hover, input[type='reset']:focus, input[type='reset']:hover, input[type='submit']:focus, input[type='submit']:hover {
  background-color: #333;
  border-color: #333;
  color: #fff;
  outline: 0; }

.button[disabled], button[disabled], input[type='button'][disabled], input[type='reset'][disabled], input[type='submit'][disabled] {
  cursor: default;
  opacity: .5; }

.button[disabled]:focus, .button[disabled]:hover, button[disabled]:focus, button[disabled]:hover, input[type='button'][disabled]:focus, input[type='button'][disabled]:hover, input[type='reset'][disabled]:focus, input[type='reset'][disabled]:hover, input[type='submit'][disabled]:focus, input[type='submit'][disabled]:hover {
  background-color: #35cebe;
  border-color: #35cebe; }
                                                                                                            
.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline {
  background-color: transparent;
  color: #35cebe; }

.button.button-outline:focus, .button.button-outline:hover, button.button-outline:focus, button.button-outline:hover, input[type='button'].button-outline:focus, input[type='button'].button-outline:hover, input[type='reset'].button-outline:focus, input[type='reset'].button-outline:hover, input[type='submit'].button-outline:focus, input[type='submit'].button-outline:hover {
  background-color: transparent;
  border-color: #333;
  color: #333; }

.button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover, button.button-outline[disabled]:focus, button.button-outline[disabled]:hover, input[type='button'].button-outline[disabled]:focus, input[type='button'].button-outline[disabled]:hover, input[type='reset'].button-outline[disabled]:focus, input[type='reset'].button-outline[disabled]:hover, input[type='submit'].button-outline[disabled]:focus, input[type='submit'].button-outline[disabled]:hover {
  border-color: inherit;
  color: #35cebe; }

.button.button-clear, button.button-clear, input[type='button'].button-clear, input[type='reset'].button-clear, input[type='submit'].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: #35cebe; }

.button.button-clear:focus, .button.button-clear:hover, button.button-clear:focus, button.button-clear:hover, input[type='button'].button-clear:focus, input[type='button'].button-clear:hover, input[type='reset'].button-clear:focus, input[type='reset'].button-clear:hover, input[type='submit'].button-clear:focus, input[type='submit'].button-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: #333; }

.button.button-clear[disabled]:focus, .button.button-clear[disabled]:hover, button.button-clear[disabled]:focus, button.button-clear[disabled]:hover, input[type='button'].button-clear[disabled]:focus, input[type='button'].button-clear[disabled]:hover, input[type='reset'].button-clear[disabled]:focus, input[type='reset'].button-clear[disabled]:hover, input[type='submit'].button-clear[disabled]:focus, input[type='submit'].button-clear[disabled]:hover {
  color: #35cebe; }

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
  border: 0.1rem solid #eee !important;
  border-radius: .4rem;
  box-shadow: none; }

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], select {
  max-width: 40rem; }

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
  border-color: #35cebe;
  outline: 0; }

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#eeeeee" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
  padding-right: 3.0rem; }

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#f02563" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>'); }

.navbar {
  margin-left: 20%;
  margin-right: 0 !important;
  position: fixed;
  z-index: 1;
  width: 81%;
  background: white;
  height: 80px;
  padding: 20px 0;
 }
  .navbar a.site-title {
    color: #222;
    color: #35cebe;
    font-size: 2.3rem;
    font-weight: bold;
    display: block;
    margin: 0 20px 10px 20px; }

#sidebar {
  background-color: #f6f6f6;
  font-size: 1.9rem;
  position: fixed;
  z-index: 0;
  width: 20% !important;
  padding: 10px 6% !important;
  box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.05);
  margin-top: 0px;
  height: 100%; }
  #sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 0; }
  #sidebar ul {
    margin-top: 10px;
    margin-left: -20px;
    margin-right: -30px; }
    #sidebar ul li {
      list-style: none;
      margin: 0;
      padding: 0; }
      #sidebar ul li a {
        display: block;
        padding: 10px 20px;
        color: #888; }
        #sidebar ul li a .fa {
          margin-right: 5px; }
      #sidebar ul li a:hover {
        color: #71CC60;
        background-color: #f9f9f9; }

#main-content {
  background: #FFF;
  width: 80% !important;
  padding: 20px 3.5rem !important;
  margin-top: 95px;
  margin-right: 12px; }
  #main-content .page-heading {
    margin-bottom: 20px; }

.card {
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  margin-bottom: 2.2rem; }
  .card .canvas-wrapper {
    width: 98%; }
  .card .card-title {
    border-bottom: 1px solid #eee;
    padding: 15px 20px; }
    .card .card-title h1, .card .card-title h2, .card .card-title h3, .card .card-title h4, .card .card-title h5, .card .card-title h6 {
      margin: 0;
      padding: 0; }
    .card .card-title .badge {
      margin-top: 3px; }
  .card .card-block {
    padding: 10px 20px; }

.large-card {
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  margin-bottom: 2.2rem; }

.user-section {
  margin-top: -8px;
  margin-right: 60px; }
  .user-section a {
    float: right; }
  .user-section img {
    margin-right: 10px;
    float: left; }
  .user-section .username {
    color: #333;
    float: right;
    text-align: left; }
    .user-section .username h4 {
      margin-bottom: -.5rem; }
    .user-section .username p {
      color: #888;
      font-size: .9em; }


  /* .circles {
    position: relative;
    height: 39vw;
    width: 41vw;
    background-color: #555;
  } */
/* Mobile */
#main-contentc {
  background-color: #ffffff;
  height: 100%;
}

.tntcon {
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack the child elements vertically */
  justify-content: space-between; /
}

.tntcon hr {
  border: 1px solid #3A383D;
  margin: auto;
  width: 90%;
  margin-bottom: 2% ;
}

.tntli a {
  color: black !important;
}

.tntli a:hover {
color: #301b09 !important;
}

.tntlist  {
  font-size: larger;
  font-weight: bold;
  color: #301b09;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;

} 

.tntlist span:nth-child(1) {
  margin-right: 8px; /* Adjust the value to fit your design */  

} 

.action-button {
  display: flex !important;
  text-align: center;
  align-items: center;
  margin-right: 15%;
  justify-content: flex-end;
  margin-bottom: 10px; 

}

/* Clear floats after every 4 columns to start a new row */
#reqli {
  text-align: center;

}

#reqcol {
  float: left;
  width: 17% !important; /* Set the width to 25% for 4 columns in a row */
}

/* Clear floats after every 4 columns to start a new row */
#reqli {
  content: "";
  display: table;
  clear: both;
  margin-left: 6.5%;
  margin-top: 2%;
}

.reqimg {
  max-width: 30%;
  background-color: white;
}

#reqcard {
  background: #F2F2F2 !important;
  text-align: center;
  border: 1px solid #266A06;
  border-radius: 5px;

}
.add-button {
  color: #3A383D;;
}

.add-button:hover {
  color: #95C967;;
}

.adtimg {
  width: 13%;
}

.adtimg:hover {
  width: 13%;
}

.rounded-content {
  margin-left: 10px;
}

.tnt {
  font-family: 'Inter', sans-serif;
  border-spacing:0 5px;
  table-layout: fixed;
  width: 70%;
  height: 10%;
  margin: auto;
  border: 1px solid #ffff;
  border-radius: 12px;
  color: #3A383D; 
}

tr {
  padding-left: 2%;
  border: 1px solid black;
  background-color: #f6f6f6;
}

th {
  background-color: #95C967;
}

.crs {
  margin-right: 0;
  max-width: 85vw; /* Limit the image width to the container's width */
  height: auto;  
}

#hbs {
  background-color: red !important;
}

/* Center content vertically and horizontally within #main-contentc */
#main-contenth {
  text-align: center;
  background-color: #ffffff; /* Set your desired background color */
  padding: 8px; /* Add padding as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  max-width: 90%; /* Adjust the maximum width of your content */
}

.rows {
  display: flex;
  flex-direction: row;
  flex-grow: 1; /* Make this row fill available vertical space */
}

/* Style each column */
.column {
  flex: 1; /* Each column takes up an equal amount of horizontal space */
  display: flex;
  text-align: start !important;
  max-height: fit-content;
}


.formh label {
  position: relative;
  right: 2px;
}

.formh{
  padding-top: 3%;
}


.formh input {
  border: 1px solid black !important;
  border-radius: 1.4rem; 
  width: 45%;
}

.custom-width {  
  width: 40%;
}


.formh input:focus {
  border-color: #301b09 !important;
}

/* Style column 1 */
.row {
  .columnd:nth-child(1) {
    flex: 1.5; /* Each column takes up an equal amount of horizontal space */
    background-color: #fff;
    display: block;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    text-align: center !important;
    max-height: fit-content;
  } 
}

#landingPage {
  background-image: url("../images/image1(1).png");
  background-size: cover; /* Set to cover the entire container */
  background-repeat: no-repeat;
  min-height: 100vh; 
  max-width: 100vw;
  display: flex;
  max-height: fit-content;
  text-align: center;
}

#cont {
    background-image: url("../images/Rectangle9-1.png");
    background-size: cover; /* Set to cover the entire container */
    background-repeat: no-repeat;
    min-height: 100vh; 
    max-width: 101vw;
    display: flex;
    max-height: fit-content;
    text-align: center;  
}

#cont .col {
  font-family: 'Inter', sans-serif;
  flex: 1;
  align-items: center;  
  justify-content: center;
}

#cont h1 {
  font-weight: bold;
}
#cont .card {
  background: 
  var(--_g) calc(var(--_p,0%) - 100%) 0%,
  var(--_g) calc(200% - var(--_p,0%)) 0%,
  var(--_g) calc(var(--_p,0%) - 100%) 100%,
  var(--_g) calc(200% - var(--_p,0%)) 100%;
  border: 5px solid black;
  max-height: 45%;
  max-width: 40;
}

#cont .col:nth-child(2) {
  display: flex;
}

#cont .col:nth-child(1) {
  display: flex;
}

#cont .card {
  padding: 2% 9%;
}

.bntcon {
  font-family: 'Istok Web', sans-serif;
  width: 50%; /* Use a percentage width */
  height: 6%; /* Use a percentage height */
  max-width: 240px; 
  border: 0.9rem solid #301B09 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  color: black;
  font-size: 2.3rem;
  font-weight:  bold;
  border-radius: 0 ;
  }

#cont input , #cont select ,#cont textarea{
  width: 82%;
  background-color: white;
}

#con2 li:nth-child(6),
#con2 li:nth-child(7),
#con2 li:nth-child(3),
#con2 li:nth-child(8) {
  font-size: 1.6rem;
}

#con2 {
  color: black;
}

#con2 ul  {
  font-weight: bold;
  list-style: none;
}
#con2 li:nth-child(4),
#con2 li:nth-child(2),
#con2 li:nth-child(5) {
  font-size: 2.2rem;
}

#con2 li:nth-child(1) {
  font-size: 3rem;
}

.bnav {
  font-family: 'Donegal One', serif;
  font-size: 3rem;
  padding: 15px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bnav .bright {
  font-family: 'Inter', sans-serif !important;
  font-size: 2rem;
  text-align: right; /* Align content to the right within .bright */
}

.bnav .bleft {
  display: flex;
  align-items: center;
}

.bnav a {
  text-decoration: none;
  color: black;
  padding: 8px 16px; /* Add padding to the links */
}


.bnav .bimg {
  margin-right: 2%;
  margin-left: 2%;
  width: 14%;
}


.unb {
  background-color: #FFF !important;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15vh; /* Adjust the top padding as needed */
}

.untpic {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  grid-template-rows: repeat(2, 1fr); /* Two rows with equal height */
  gap: 10px; 
}

.unt {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover; /* Set to cover the entire container */
  background-repeat: no-repeat;
  min-width: 25vw;
  min-height: 30vh;
  border-radius: 5px;
  mix-blend-mode: multiply;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}

footer {
  position: absolute;
  padding: 12px;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #F2F2F2;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the right */
  justify-content: space-around; 
}

footer div {
  margin-right: 2%;
}

footer a {
  color: black !important;
}

footer a:hover {
  color: #abc36c !important ;
}

.fa-play {
  font-size: 24px; /* Set the font size to 24 pixels */
  color: white; /* Change the color to red */
}

#untp1 {
  background-image: url("../images/Model1/IMG_20231004_133241_541.jpg");
}

#untp2 {
  background-image: url("../images/Model2/IMG_20231004_133857_401.jpg");
}

#untp3 {
  background-image: url("../images/Model3/IMG_20231004_134200_770.jpg");

}
#untp4 {
  background-image: url("../images/Model4/IMG_20231004_135416_002.jpg");

}

.rowt {
  justify-content: center;
}

.primt {
  font-family: 'Inter', sans-serif;
  color: #301B09;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.amnts {
  background-color: #ffff !important;
  font-weight: bold;
  font-family: 'Inter', sans-serif;  
}

.ampic {
  background-image: url("../images/image2.png");
  background-position: center bottom; /* Center the image */
  background-size: 100% 100%; /* Set to 90% of the container's width and height */
  background-repeat: no-repeat;
  min-height: 90vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ampt {
  background: rgba(48, 15, 9, 0.30); 
  color: black;
  width: 100%;
  font-size: 3.4rem;
}

.ambot hr {
  margin: 0 0.3%;
  border: 1px solid gray !important;
  margin-bottom: 1.3%;
}

.ambl li {
  display: flex;
  justify-content: space-around;
}

.ambl li:nth-child(1),
.ambl li:nth-child(4) {
  margin-bottom: 0 !important;
  margin-left: 2% ;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-start;
}

.ambl li:nth-child(1) {
  margin-top: 2%;
}

.ambl li:not(:first-child):not(:nth-child(4)) {
  font-weight: normal !important;
  font-size: 2rem;
  margin-bottom: 1.4%;
}

.ambl {
  color: black;
  list-style: none;
}

.ampt div:nth-child(2) {
  font-size: 2rem;
}

/* Style column 2 */
.row .columnd:nth-child(2) {
  flex: 1; /* Each column takes up an equal amount of horizontal space */
  background-image: url("../images/Ponte-1.png");
  background-position: center bottom; /* Center the image */
  background-size: 100% 90%; /* Set to 90% of the container's width and height */
  background-repeat: no-repeat;
  min-height: 100vh; 
  display: flex;
  justify-content: center; /* Center the content horizontally */
  max-width: 100%;
  width: 100%;
  max-height: fit-content;
  
}

hr {
  border-top: 2px solid black;
  margin: 0;
  padding: 0;
}

#rowd h1:nth-child(1) {
  margin-bottom: 0 !important;
 }

/* CSS code */
.formh button {
  font-weight: bolder;
  background-color: #301b09 !important;
  border: none !important;
}

#navc {
  display: flex;
  justify-content: end;
}

.formh {
  width: 55%;
  margin: 0 auto; 
  background-color: #ffff;
  height: 60%;
  box-shadow: 25px 25px 75px -2px rgba(0, 0, 0, 0.14); 
}

.hnav {
  font-family: 'Inter', sans-serif;
  margin-top: 3rem;
  display: flex;
  align-content: center !important; 
}

.hnav a {
  color: black !important;
}

.hnav a:not(:last-child) {
  margin-right: 12vw; 
}

#rowd h1 {
  font-size: 6rem;
  font-family: 'League Spartan', sans-serif;
  font-weight: bolder;
}

#rowd h1:nth-child(2) {
  color: #301b09;
}

#rowc {
  font-family: 'Inter', sans-serif;
  width: 50%;

  h1 {
    font-size: 5rem;
    font-weight: bold;
  }
}

.lnav {
  margin-right: 5%;
  font-size: 2.5rem;
  font-weight: bold;
  max-height: 17rem; /* Set a maximum height for the navigation bar */
  font-family: 'Inter', sans-serif; /* Font family for the navigation bar */
  width: 100%; /* Set a maximum width for the navigation bar */
  display: block;
  background-color: rgba(0,0,0,0); /* Background color for the navigation bar */
}

.lnav a {
  margin-top: 3%; /* Set left and right margin to 'auto' *//* Center the content horizontally */
  font-family: 'Inter', sans-serif;
  color: black;
  text-decoration: none;
  padding: 14px 16px;
  float: right;

}

.lnav a:nth-child(1) {
  font-family: 'Donegal One', serif;
  font-size: 3rem;
  color: black;
  text-decoration: none;
  padding: 14px 16px;
  margin-left: 5%;
  float: left;

}

.ltext {
  max-width: 62%;
  position: absolute;
  top: 30%;
  left: 19%;
}

.trunit {
  font-family: 'Istok Web', sans-serif;
  position: absolute;
  top: 78%;
  left: 42%;
  width: 50%; /* Use a percentage width */
  height: 6%; /* Use a percentage height */
  max-width: 240px; 
  border: 0.9rem solid #301B09 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
   background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  color: black;
  font-size: 2.3rem;
  font-weight:  bold;
}

.trunit:hover{
  color: #301B09 !important;
}

#thome .col {
  font-family: 'Inter', sans-serif;
  flex: 1;
  align-items: center;  
  justify-content: center;
}

.inline-list li a {
  display: flex !important;
  text-align: center;
  align-items: center;
}


.sideimg {
  margin-right: 6% ;
  width: 20%;
}

#formbook input, #formbook select {
  border: 1px solid black !important;
  border-radius: 1.4rem; 
  width: 45%;
}

#formbook .segmented-control-button {
  font-size: 12px; 
  font-weight: bold;
  background-color: #F2F2F2 !important;
  color: black !important;
  flex: 1;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: auto 0;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.boksub {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  filter: drop-shadow(-2px 9px 10px rgba(0, 0, 0, 0.25)); 
}

#formbook .segmented-control-button.active {
  background-color: #266A06 !important;
  color: #fff !important; 
}


#fom {
  padding-top: 2%;
}

.segmented-control {
  margin-top: 2% !important;
  display: flex;
  text-align: center;
  margin-bottom: 3% !important; 
  margin: auto;
  width: 45%;
  border: 1px solid #F2F2F2;
  border-radius: 1.4rem; 
  background-color: #F2F2F2;
}

#thome {
  display: flex;
}

.tntbod {
  min-height: 100%;
  min-width: 100%;
  background-color: white;
}

#pay {
  background-color: #F6F6F6;
}

#thome {
  height: 100%;
}

.tentu {
  height: 100%;
  padding: 10% 10%;
  margin: auto;
  background-color: #F6F6F6;
}

.tntimg {
  margin-right: 25%;
  width: 70%;
}

#thcol:nth-child(1) {
  padding: 5%;
  min-height: 100% !important;
}

#thcol:nth-child(2) {
  padding: 5%;
  margin: auto;
  min-width: 60%;
}

.tntli {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 15%;
}

.user {
  width: 30%;
  border-radius: 50%;
  padding: 5%;
  margin-bottom: 2%;
  background-color: #D9D9D9;
}

.btnmodal:hover {
  background: white !important;
  color: #301B09;
}
.delete-button {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #301b09;
  border: none;
}

.delete-button:hover {
  background-color: white;
  color:#301b09 ;
  
}

.prof {
  text-align: center;
  margin-bottom: 10% !important;
}

.tntli li {
  display: flex !important;
  text-align: center;
  align-items: center;
  list-style: none;
  margin-top: 8%;
}


#dash {
  background-color: #F2F2F2;
  display: flex;
  align-items: center; 
  width: 70%; 
  border-radius: 2%;
  border: 2px solid #266A06;
}

#dashcon {
  display: flex;
  justify-content: end;
}


.dtext {
  margin-left: 20px; /* Adjust the margin as needed */
}

.modal-content2 {
  width: 27% !important;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: #585555 ;
}

.modal-content2 hr {
  width: 100%;
}

/* Modal Content */
.modal-content2 {
  border-radius: 4px;
  border: 1px solid black ;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.modal-content {
  width: 27% !important;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: #585555 ;
}

.modal-row {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}


.modal-row2{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}



.modal-row:nth-child(10) {
  margin-bottom: 5% !important;
}

#mdt {
  margin-top: 14% !important;
}

#myModal hr {
  margin-bottom: 5% !important;
}
.label {
  flex: 1;
  text-align: left;
  font-weight: bold;
  margin-right: 10px;
}

.value {
  flex: 1;
  text-align: right;
}

.large-card .rounded-content{
  font-size: larger;
  font-weight: bold;
}

.large-card span:nth-child(2){
  margin-left: 4%;
}

#myBtn {
  margin-top: 2%;
  background-color: #301B09 ;
  border: none ;
  font-weight: bold;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
}

#myModal button {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none ;
}

#myModal button:nth-child(2) {
  background-color:#301B09 ;
}
#myModal button:nth-child(1) {
  background-color:white ;
  color: black;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 4px;
  border: 1px solid black ;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.formp {
  width: 55%;
  margin: 0 auto; 
  background-color: #ffff;
  height: 68%;
  box-shadow: 25px 25px 75px -2px rgba(0, 0, 0, 0.14); 
}

.formp input, .formp select {
  width: 70% !important;
}

.compsub {
  font-weight: light;
  font-size: large;
  font-style: italic; 
  color: rgba(48, 27, 9, 0.45); 
}

.chr {
  border: 1px solid rgba(48, 27, 9, 0.45);
}

.comptel {
  font-size: larger;
  font-weight: bold;
}

.formp button {
  font-family: 'Istok Web', sans-serif;
  width: 30%; /* Use a percentage width */
  height: 3%; /* Use a percentage height */
  max-width: 240px; 
  border: 0.9rem solid #301B09 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  color: black;
  font-size: 2rem;
  font-weight:  bold;
  border-radius: 0 ;
}

.dashrow {
  display: flex;
  text-align: center;
  justify-content: start;
  width: 100%;
}

.dashcol {
  width: 38%;
}


#reqdash {
  width: 44% !important;
}



.proimg {
  width: 26%;
}


.colnem {
  color: #301B09;
  font-weight: bold;
}

.reqcards {
  padding: 5% !important;
}

#peso {
  font-size: 20px !important;
}  


.dtopt {
  font-size: 38px;
  color: #266A06;
  font-weight: bold;
}


.a-canvas.a-grab-cursor {
  width: 20% !important;
  height: 20% !important;
}

#reps {
  border-radius: 20px; 
  text-align: center;
  padding: 1.4% !important;
  margin: auto;
  background-color: #F6F6F6;
  margin-bottom: 1%;
  width: 80%;
}

#reps p {
  margin-bottom: 0;
}

#meModal .modal-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 3%;
}

#meModal #mdt{
  margin-top: 5%;
}

#meModal .latest-message{
  font-weight: bold;
  text-align: center;
}


#meModal input, #meModal select{
  margin-bottom: 0;
}

#meModal div:nth-child(1){
  font-weight: bold;
}

#meModal button {
  margin-top: 4% !important;
  margin: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none ;
}


#meModal button {
  background-color:#301B09;
  color: white;
}



#meModal button:hover {
  background-color:white;
  color: #000;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 20px;
  margin-bottom: 90px;

  width: 70%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 5px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.7rem;
  color: #9b9b9b;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.7rem;
  color: black;
  font-weight:700;    
}

.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #4DED30, #95F985, #B7FFBF);
  border-image-slice: 1;
}

.form__field{
  &:required,&:invalid { box-shadow:none; }
}

#payContent {
  margin-bottom: 0 !important;
}
.comps {
  background-color: #301B09 ;
  border: none;
}



.tooltip {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.primt:hover + .tooltip {
  display: block;
}


#payContent {
  background-color: #f6f6f6 !important;
  border: 2px solid #266A06;
  border-radius: 7px;
}

#payContent hr {
  color: #301B09; 
  margin: 2% 0px;
  margin-right:28%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

#successPayContent {
  background-color: #f6f6f6 !important;
  border: 2px solid #266A06;
  border-radius: 7px;
}

.sucfl {
  margin-top: 2%;
}

.sucfl, .pend {
  font-family: 'Inter', sans-serif;
}

.totmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tot {
  font-size: 2rem;
}
.total-amount {
  font-size: 2rem;
  margin-right: 5%;
}
@media (max-width: 640px) {

  #rowd h1{
    font-size: 2.4em; /* Adjust font size for even smaller screens */
  }
  .row, .row.grid-responsive {
    flex-direction: column; }

  .row.grid-responsive .column,
  .row.grid-responsive .column.column-10,
  .row.grid-responsive .column.column-20,
  .row.grid-responsive .column.column-25,
  .row.grid-responsive .column.column-33,
  .row.grid-responsive .column.column-40,
  .row.grid-responsive .column.column-50,
  .row.grid-responsive .column.column-60,
  .row.grid-responsive .column.column-66,
  .row.grid-responsive .column.column-67,
  .row.grid-responsive .column.column-75,
  .row.grid-responsive .column.column-80,
  .row.grid-responsive .column.column-90,
  .row.grid-responsive .column.column-100 {
    display: block;
    width: 100%;
    max-width: 100%; }

  .navbar {
    height: auto;
    position: static; }
    .navbar .user-section {
      text-align: left; }
    .navbar .row .column,
    .navbar .row .column.column-10,
    .navbar .row .column.column-20,
    .navbar .row .column.column-25,
    .navbar .row .column.column-33,
    .navbar .row .column.column-40,
    .navbar .row .column.column-50,
    .navbar .row .column.column-60,
    .navbar .row .column.column-66,
    .navbar .row .column.column-67,
    .navbar .row .column.column-75,
    .navbar .row .column.column-80,
    .navbar .row .column.column-90,
    .navbar .row .column.column-100 {
      width: 100%;
      max-width: 100%;
      padding: 0 20px; }
    .navbar a.site-title {
      margin-left: 0; }
    .navbar .col-search .search-btn {
      top: 12px; }
    .navbar input[type=text] {
      margin: 0; }

  #sidebar {
    position: static;
    width: 100% !important;
    padding: 10px 20px !important;
    margin: 0;
    height: auto;
    left: 0; }

  #main-content {
    width: 100% !important;
    display: block !important;
    margin: 0;
    padding: 1.5rem !important; }

  .card .card-title, .card .card-block {
    padding: 10px 15px; }

  .user-section {
    display: none; } }
/* Tablet */
@media (min-width: 640px) and (max-width: 768px) {
  #sidebar {
    width: 30% !important; }

  #main-content {
    width: 70% !important;
    margin-left: 30%; }

  .navbar .row .column,
  .navbar .row .column.column-10,
  .navbar .row .column.column-20,
  .navbar .row .column.column-25,
  .navbar .row .column.column-33,
  .navbar .row .column.column-40,
  .navbar .row .column.column-50,
  .navbar .row .column.column-60,
  .navbar .row .column.column-66,
  .navbar .row .column.column-67,
  .navbar .row .column.column-75,
  .navbar .row .column.column-80,
  .navbar .row .column.column-90,
  .navbar .row .column.column-100 {
    width: 50%;
    max-width: 50%; }
  .navbar .site-title {
    font-size: 18px !important;
    padding-top: 5px; }

    
  .row.grid-responsive {
    flex-direction: column; }

  .row.grid-responsive .column,
  .row.grid-responsive .column.column-10,
  .row.grid-responsive .column.column-20,
  .row.grid-responsive .column.column-25,
  .row.grid-responsive .column.column-33,
  .row.grid-responsive .column.column-40,
  .row.grid-responsive .column.column-50,
  .row.grid-responsive .column.column-60,
  .row.grid-responsive .column.column-66,
  .row.grid-responsive .column.column-67,
  .row.grid-responsive .column.column-75,
  .row.grid-responsive .column.column-80,
  .row.grid-responsive .column.column-90,
  .row.grid-responsive .column.column-100 {
    display: block;
    width: 100%;
    max-width: 100%; }

  .card .canvas-wrapper {
    width: 90%; }

  .user-section {
    margin-right: 20px; }
    .user-section .username {
      display: none; } }
@media (min-width: 768px) and (max-width: 960px) {
  .row.grid-responsive {
    flex-direction: column; }

  .row.grid-responsive .column,
  .row.grid-responsive .column.column-10,
  .row.grid-responsive .column.column-20,
  .row.grid-responsive .column.column-25,
  .row.grid-responsive .column.column-33,
  .row.grid-responsive .column.column-40,
  .row.grid-responsive .column.column-50,
  .row.grid-responsive .column.column-60,
  .row.grid-responsive .column.column-66,
  .row.grid-responsive .column.column-67,
  .row.grid-responsive .column.column-75,
  .row.grid-responsive .column.column-80,
  .row.grid-responsive .column.column-90,
  .row.grid-responsive .column.column-100 {
    display: block;
    width: 100%;
    max-width: 100%; }

  #sidebar {
    width: 30% !important; }

  #main-content {
    width: 70% !important;
    margin-left: 30%; }

  .card .canvas-wrapper {
    width: 95%; }

  .user-section {
    margin-right: 20px; }
    .user-section .username {
      display: none; } }
.hays{
 margin-right: 50%;
}
