{% extends "admins.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRI-LC</title>
    <link rel="icon" type="image/x-icon" href="{% static 'coreapp/images/Ellipse 2-1.png' %}">

</head>
<body>
    {% block content %}
    <div>
        <div id="dashcon">
            <div class="column page-heading">
                <div class="large-card" id="dash">
                    <img src="{% static 'coreapp/images/image 3.png' %}" alt="">
                    <div class="dtext">
                        <div>20</div>
                        <div>Total Properties</div>
                    </div>    
                </div>
            </div>
            <div class="column page-heading">
                <div class="large-card" id="dash">
                    <img src="{% static 'coreapp/images/image 4.png' %}" alt="">
                    <div class="dtext">
                        <div>20</div>
                        <div>Properties Rent</div>
                    </div>    
                </div>
            </div>
            <div class="column page-heading">
                <div class="large-card" id="dash">
                    <img src="{% static 'coreapp/images/image 5-1.png' %}" alt="">
                    <div class="dtext">
                        <div>20</div>
                        <div>Property Sale</div>
                    </div>    
                </div>
            </div>
        </div>	
    </div>
    {% endblock %}
</body>
</html>
