{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TRI-LC</title>
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
	
	<!-- Template Styles -->
	<link rel="stylesheet" href="{% static 'coreapp/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'coreapp/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'coreapp/css/milligram.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'coreapp/css/styles.css' %}">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<div class="navbar">
		<div class="row">	
			<div class="column column-30" id="navc">
				<div class="user-section">
					<a href="#">
						<img src="http://via.placeholder.com/50x50" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
						<div class="username">
							<h4>Jane Donovan</h4>
							<p>Administrator</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="sidebar" class="column">
			<img src="{% static 'coreapp/images/Ellipse 2-1.png' %}" alt=""> 
			<ul>
				<li><a href="{% url 'ad_hom' %}"><i class="fa fa-th-large" aria-hidden="true"></i> Dashboard</a></li>
				<li><a href=""><i class="fa fa-home" aria-hidden="true"></i> Request</a></li>
				<li><a href="{% url 'unit' %}"><i class="fa fa-users" aria-hidden="true"></i> Property</a></li>
				<li><a href="{% url 'creacc' %}"><i class="fa fa-users" aria-hidden="true"></i> Request</a></li>
				<li><a href=""><i class="fa fa-exclamation-circle" ></i> Complaints</a></li>
				<li><a href="#forms"><i class="fa fa-book" aria-hidden="true"></i> Reports</a></li>
			</ul>
		</div>
		<section id="main-content" class="column column-offset-20">
			{% block content %}
			{% endblock %}
		</section>
	</div>	
</body>
</html> 
   