{% block content %}
<div class="amnts" id="amenities">
    <div class="ampic">
        <div class="ampt">
            <div>Prime Heights Amenities</div>
            <div>Q35G+69R, Batangas</div>
        </div>
    </div>
    <div class="ambot">
        <ul class="ambl">
            <li>Amenities</li>
            <hr>
            <li> <span>Clubhouse</span><span>Playground</span><span>Swimming Pool </span> </li>
            <li>Utilities</li>
            <hr>
            <li> <span>Electricity</span><span>Water</span><span>Internet</span><span>Cable</span> </li>
        </ul>
    </div>
</div>
{% endblock %}