{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'coreapp/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/milligram.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'coreapp/css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'coreapp/images/Ellipse 2-1.png' %}">
</head>
<body>
    <div class="amnts" id="amenities">
        <div class="ampic">
            <div class="ampt">
                <div>Prime Heights Amenities</div>
                <div>Q35G+69R, Batangas</div>
            </div>
        </div>
        <div class="ambot">
            <ul class="ambl">
                <li>Amenities</li>
                <hr>
                <li> <span>Clubhouse</span><span>Playground</span><span>Swimming Pool </span> </li>
                <li>Utilities</li>
                <hr>
                <li> <span>Electricity</span><span>Water</span><span>Internet</span><span>Cable</span> </li>
            </ul>
        </div>
    </div>
</body>
</html>
