{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TRI-LC</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'coreapp/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'coreapp/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'coreapp/css/milligram.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'coreapp/css/styles.css' %}">
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRI-LC BOOKING</title>
</head>
<body>
    
</body>
</html>