{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRI-LC</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'coreapp/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'coreapp/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'coreapp/css/milligram.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'coreapp/css/styles.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'coreapp/images/Ellipse2-1.png' %}">
</head>
<body>
  <div class="row" id="cont">
    <div class="col" id="con2">
      <div class="latest-message">
        {% if messages %}
            {% for message in messages %}
                {% if forloop.last %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
      </div>         
      <form method="POST" action="{% url 'contact' %}">
            {% csrf_token %}
            <h1 class="">CONTACT US</h1>
            <div class="mb-2">
              <input type="text" class="form-control" placeholder="Name" id="" name="name" required>
            </div>
            <div class="mb-2">
              <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Email" required> 
            </div>
            <div class="mb-2">
              <input type="tel" class="form-control" id="" placeholder="Phone Number" name="phone" required>
            </div>
            <div class="mb-2">
              <select class="form-select" id="inputGroupSelect01" name="unit" required>
                <option value="none">Unit</option>
                <option value="Unit 1" {% if form.unit_type.value == 'Unit 1' %}selected{% endif %}>Unit1</option>
                <option value="Unit 2" {% if form.unit_type.value == 'Unit 2' %}selected{% endif %}>Unit 2</option>
                <option value="Unit 3" {% if form.unit_type.value == 'Unit 3' %}selected{% endif %}>Unit 3</option>
                <option value="Unit 4" {% if form.unit_type.value == 'Unit 4' %}selected{% endif %}>Unit 4</option>
              </select>
            </div>       
            <div class="mb-2">
                <textarea id="comment" name="comment" rows="4" cols="50" required></textarea>
            </div>
            <div class="mb-2">
                <input type="date" class="form-control" id="" name="date" placeholder="Move-in-date" required>
            </div>
          
            <button type="submit" class="bntcon">Submit</button>
          </form>
          
    </form>
    </div>
    <div class="col" id="con2">
      <div class="card">
        <ul>
            <li>
                Contact <br>
                Information
            </li>
            <li>
                Prime Heights House Units
            </li>
            <li>
                Q35G+69R, Batangas
            </li>
            <hr>
            <li>
                (901) 499 -0973  
            </li>
            <hr>
            <li>
                HOURS  
            </li>
            <li>
                Monday - Friday    8:00 am - 5:00 pm  
            </li>
            <li>
                Saturday    10:00 am - 2:00 pm
                Sunday Closed
            </li>
            <li>
                Sunday Closed
            </li>
        </ul>
      </div>
    </div>
</div>
</body>
</html>

