{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'coreapp/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/milligram.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'coreapp/css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'coreapp/images/Ellipse 2-1.png' %}">
  
</head>
<body>
    {% block content %}
    <footer>
        <div><span><a href="{% url 'home' %}">HOME</a></span> | <span><a href="{% url 'amnts' %}">AMENITIES</a></span> | <span><a href="{% url 'vtour' %}">UNIT TOUR</a></span> | <span><a href="">CONTACT</a></span></div>
        <div>TRI-LC ENTERPRISES</div>
        <div>Q35G+69R, BATANGAS</div>
      </footer>
    {% endblock %}
</body>
</html>