{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'coreapp/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/milligram.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'coreapp/css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'coreapp/images/Ellipse2-1.png' %}">
    <title>TRI-LC</title>
</head>
<body class="hbs" style="background-color: #ffff;">
      <div class="row">
        <div id="rowd" class="columnd">
            <h1 class="mt-6">TRI-LC</h1>
            <h1>Enterprises</h1>
            <div class="formh">
              <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="latest-message">.
                  {% if messages %}
                      {% for message in messages %}
                          {% if forloop.last %}
                              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                          {% endif %}
                      {% endfor %}
                  {% endif %}
                </div>
                <div class="mt-4 mb-4">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="" name="username" required>
                </div>
                <div class="mb-4">
                  <label for="pass">Password</label>
                  <input type="password" class="form-control" id="" name="pass" required>
                </div>
                <button type="submit">LOG IN</button>
              </form>
            </div>
        </div>
        <div class="columnd" id="lhs">
          <div class="hnav">
            <a href="{% url 'homepage' %}">HOME</a>
            <a href="{% url 'contact' %}">CONTACTS</a>
          </div>     
        </div>  
      </div>  
</body>
</html>

