{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'coreapp/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'coreapp/css/milligram.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'coreapp/css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'coreapp/images/Ellipse 2-1.png' %}">
	<title>TRI-LC</title>
</head>
<body style="background-color: white;">	
	<div class="row">
        <div id="rowd" class="columnd">
            <h1 class="mt-6">PAYMENT</h1>
            <div class="formp" id="formbook">
                <form method="post" action="{% if username %}{% url 'pay' username=username %}{% endif %}" id="fom">

                {% csrf_token %}	  
                <div class="latest-message">
                    {% if messages %}
                        {% for message in messages %}
                            {% if forloop.last %}
                                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                  </div>	
                  <div class="mb-2" id="inpo">
                    <input type="text" placeholder="Name" class="form-control" name="name" value="{{ username }}" readonly>
                </div>
                <div class="mb-2" id="inpo">
                    <input type="number" placeholder="Tenant ID" class="form-control" name="tenant" value="{{ tenant_id }}" required>
                </div>
                <div class="mb-2">
                    <select class="form-select" id="inputGroupSelect01" name="unit" required>
                        <option value="" {% if form.unit.value is None %}selected{% endif %}>Model</option>
                        <option value="Model 1" {% if form.unit.value == 'Model 1' %}selected{% endif %}>Model 1</option>
                        <option value="Model 2" {% if form.unit.value == 'Model 2' %}selected{% endif %}>Model 2</option>
                        <option value="Model 3" {% if form.unit.value == 'Model 3' %}selected{% endif %}>Model 3</option>
                        <option value="Model 4" {% if form.unit.value == 'Model 4' %}selected{% endif %}>Model 4</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="number" id="" placeholder="Reference Number" name="ref" required>
                </div>
                <div class="mb-2">
                    <select class="form-select" id="inputGroupSelect01" name="mop" required>
                        <option value="" {% if form.mop.value is None %}selected{% endif %}>Mode of Payment</option>
                        <option value="Gcash" {% if form.mop.value == 'Gcash' %}selected{% endif %}>Gcash</option>
                        <option value="Bank Transfer" {% if form.mop.value == 'Bank Transfer' %}selected{% endif %}>Bank Transfer</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="number" min="0" placeholder="0.00" name="amount" required>
                </div>
                <div class="mb-2">
                    <input placeholder="Date" type="text" name="date" onfocus="(this.type='date')" onblur="(this.type='text')" required>				
                </div>
                <button type="submit" class="boksub">SUBMIT</button>                
			</form>
            </div>
        </div>
        <div class="columnd" id="lhs">
          <div class="hnav">
            <a href="{% url 'tnt_hom' %}?username={{ username }}">HOME</a>
            <a href="{% url 'tnt_hom' %}?username={{ username }}&issues=true">ISSUES</a>
          </div>     
        </div>  
      </div>  
</body>
</html>


