{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRI-LC</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'coreapp/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'coreapp/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'coreapp/css/milligram.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'coreapp/css/styles.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'coreapp/images/Ellipse 2-1.png' %}">
</head>
<body>
    
</body>
</html>
<div class="unb" id="unit">
    <h1 class="primt">PRIME SHOWROOM</h1>
    <div class="untpic">
        <div class="unt">
            <i class="fa fa-play" aria-hidden="true"></i>
        </div>
        <div class="unt">
            <i class="fa fa-play" aria-hidden="true"></i>
        </div>
        <div class="unt">
            <i class="fa fa-play" aria-hidden="true"></i>
        </div>
        <div class="unt">
            <i class="fa fa-play" aria-hidden="true"></i>
        </div>
    </div>
</div>

