{% block content %}
<div class="unb" id="unit">
    <h1 class="primt">PRIME SHOWROOM</h1>
    <div class="untpic">
        <div class="unt">
            <i class="fa fa-play" aria-hidden="true"></i>
        </div>
        <div class="unt">
            <i class="fa fa-play" aria-hidden="true"></i>
        </div>
        <div class="unt">
            <i class="fa fa-play" aria-hidden="true"></i>
        </div>
        <div class="unt">
            <i class="fa fa-play" aria-hidden="true"></i>
        </div>
    </div>
</div>
{% endblock %}

